@model IEnumerable<HoangAnhHuy_BTH2.Models.Student>
<p>
    <a class="btn btn-success" asp-action="Create">Create a new student</a>
</p>
<table class="table table-all">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@Html.DisplayFor(m => item.StudentID)</th>
            <th>@Html.DisplayFor(m => item.StudentName)</th>

        </tr>
    }
</table>